.bg-background {
  background-color: var(--clr-background);
}

.bg-foreground {
  background-color: var(--clr-foreground);
}

.bg-primary {
  background-color: var(--clr-primary);
}

.bg-secondary {
  background-color: var(--clr-secondary);
}

.bg-success {
  background-color: var(--clr-action-success);
}
