/* Utility classes */
.color-primary {
  color: var(--clr-primary);
}

.color-secondary {
  color: var(--clr-secondary);
}
.color-warning {
  color: var(--clr-action-warning);
}

.color-error {
  color: var(--clr-action-error);
}

.color-success {
  color: var(--clr-action-success);
}
