@import "../../../scss/fonts";

@mixin flex-container($direction: row, $justify: flex-start, $align: flex-start) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

.student__responses {
    padding: 2rem;
    @include flex-container(column, center, center);

    &>div:nth-child(1) {
        width: 100%;
        @include flex-container(row, center, center);
        padding: 1rem;
        font-size: 1.2rem;
    }

    .student__response {
        width: 80%;
        @include flex-container(column, center, center);
        gap: 2rem;

        &>div:nth-child(n) {
            width: 100%;
            border: 1px solid gray;
            border-radius: 0.8rem;
            padding: 1.5rem;
            width: 100%;
        }
    }

}