@import "../../../scss/fonts";
@import "../../../scss/breakpoints";


@mixin flex-container($direction: row, $justify: flex-start, $align: flex-start) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

.student__responses {
    @include flex-container(column, center, center);

    &>div:nth-child(1) {
        width: 100%;
        @include flex-container(row, center, center);
        padding: 1rem;
        font-size: 1.2rem;
    }

    .student__response {
        width: 100%;
        @include flex-container(column, center, center);
        gap: 1rem;

        &>div:nth-child(n) {
            width: 100%;
            border-radius: 0.8rem;
            padding: 1rem;
            width: 100%;

            &>div:nth-child(1) {
                width: max-content;
                border-bottom: 1px solid gray;
                margin-bottom: 1rem;
            }

            &>div:nth-child(2) {
                @include flex-container(column, baseline, center);
                gap: 1rem;

                &>div:nth-child(n) {
                    width: 100%;
                }
            }
        }

        .response__section__container {
            padding-top: 1rem;
        }
    }

    @include sm {
        padding: 1.5rem;

        .student__response {
            padding: 0.5rem;
            width: 80%;

            &>div:nth-child(n) {
                padding: 1.5rem;
            }
        }
    }

    @include mobile {
        padding: 2rem;
    }

}