@import "../../../scss/fonts";

@mixin flex-container($direction: row, $justify: flex-start, $align: flex-start) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

.response__container {
    // border: 1px solid gray;
    // border-radius: 0.8rem;
    padding: 1rem 0;
    font-family: $poppins-sans;
    @include flex-container(column, flex-start, baseline);

    &>div:nth-child(n) {
        gap: 1rem;
        @include flex-container(row, flex-start, baseline);
    }

}